# Dependencies
node_modules/

# Build output
dist/
build/
*.dmg
*.blockmap
latest-mac.yml
builder-effective-config.yaml
builder-debug.yml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Electron
Electron.app/
